
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body{
    margin: 0;
}

.main-container{
    width: 100%;
    display: grid;
    place-items: center;
}

.welcome{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}


h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

h3{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.card-container{

    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(360px,360px));
    justify-content: center;
    gap: 8px;
}
.card{

    width: 360px;
    background-color: aquamarine;
    border: 2px solid black;
}

.card:hover{

    background-color: aqua;

}

.select-mode{
    display: none;
}

.select-mode:checked + label{
    background-color: green;
}

.selectmode{
   display: none;
}

.selectmode:checked + label{
    background-color: #75c7ff;
}

label{
    height: auto;
}

figure{
    margin: 0;
    display: flex;
    justify-content: center;
}

figure img{

    width: 180px;
    margin: 0;
    border-radius: 50%;
    margin-bottom: 24px;
   

}

#start-game{

    width: 120px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(41, 189, 41, 0.63);
    border: 1px solid green;
    font-family: 'Press Start 2P', cursive;
}

#start-game:hover{
    background-color: rgba(32, 97, 32, 0.63);
}

.categories-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,365px);
    justify-content: center;
    gap: 8px;

}

#contenedor-categories{
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 24px;
}

.categories-card{
    border: 2px solid black;
}

.categories-card:hover{
    background-color: aqua;
}

.categories-card figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-card figure img{
    width: 300px;
    height: 360px;
    border-radius: 50%;
    object-fit: cover;
}

.categories-card figure figcaption{
    padding: 8px;
    font-family: 'Carter One', cursive;
    font-size: 24px;
}

#select-category{
    width: 150px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(41, 189, 41, 0.63);
    border: 1px solid green;
    font-family: 'Press Start 2P', cursive;
}

#select-category:hover{
    background-color: rgba(32, 97, 32, 0.63);
}

.pc{
    width: 360px;
    display: none;


}

#letter{
    font-size: 40px;
    font-weight:lighter;
}

.letter{
    width: 40px;
    height: 40px;
    border: 2px solid green;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    

}

.letter:focus{
    border: 1px solid green;

}

.input-container{
    display: flex;
    flex-direction: column;
}

.input-container input{

}


.btn{
    margin: 24px;
    width: 150px;
    height: 30px;
    position: relative;
    left: 15%;
    border: 2px solid black;
    border-radius: 16px;
}

.in{
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border: 4px solid black;
}

#img-container figure{

    width: 400px;
    margin-top: 48px;


}

#lettersout-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,55px);
    gap: 8px;
    margin-top: 24px;
}

.letters-out{

    width: 50px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.349);
    font-size: 40px;
    text-align: center;
    border: 2px solid black;
}

#clue-container{
    height: auto;
    width: 300px;
    padding: 16px;
    box-sizing: border-box;
    margin: 24px 0px 24px 0px;
    border: 2px solid black;
}
